*{
    margin:auto;
    
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  background-color: #000;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
ul{
    list-style: none;
    float: right;
    margin-top: 0px;
}
ul li
{
display: inline-flex;
}
ul li a{
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    
    transition: 0.5s;
}
ul li a:hover{
    background: none;
    color:rgb(247, 30, 30);

}
.cart {
    float: right;
width: 35px;
cursor: pointer;
margin-left: 40px;
}
.cart:hover{
   background: none;
   
}
.logo{
    margin-top: 20px;
    width: 120px;
}

.row{
    display: flex;
    width: 100%;
    height: 85%;
    align-items: center;
    
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{

    color:#fff;
    font-size: 15px;
}
button{
    width: 180px;
    color: #fff;
    font-size: 15px;
    padding: 12px 0;
    background: #000;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    background-color: #fff;
    color: #000;
}
.card{

    width: 240px;
    height: 240px;
    display: inline-table;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    color: #000;
    text-align: start;
    text-shadow: rgba(243, 59, 59, 0.74);
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    transition: transform 0.5s;
    

}
.card1{
    
    background-image: url(frock.jpg);

}
.card2{
    background-image: url(laddoo.jpeg);
}
.card3{
    background-image: url(necklace.jpg);
}
.card4{
    background-image: url(watch.jpg);
}
.card:hover{
    transform: translateY(-10px);
    background-color: #000;
}
.chatbot{
    float: right;
    
}
footer{
    height: 35vh;
    padding-left: 5%;
    padding-right: 5%;
    padding: 3px;
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    align-items: center;
}
.contact{
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    margin-left: 50px;
}

.social{
   padding-top: 0%;
 /*  margin-left: 50px;  */
   cursor: pointer;
   margin-left: 15%; 
 /*  margin-right: 30%; */
  
}
.social img{
    width: 25px;
    

}

